@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,600,700,800");
body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 0px;
  background-color: #fafafa;
}

/* -----------------------------
HEADER SECTION
----------------------------- */
#header-section {
  display: flex;
  background-color: #fff;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#header-section .logo {
  display: flex;
  align-items: center;
}

#header-section .logo .header-text .title {
  font-size: 24px;
  font-weight: 400;
  margin-right: 10px;
}

#header-section .logo img {
  height: 40px;
  margin: 5px;
}

#header-section .account-selector {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

#header-section .account-selector .username {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

#header-section .account-selector img {
  height: 20px;
  margin: 5px 5px 0px 0px;
}

/* -----------------------------
CONTENT SECTION
----------------------------- */
#content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  justify-content: center;
  margin: 0px auto 20px auto;
}

#content-section .page-posting {
  display: flex;
  height: 150px;
  width: 800px;
  align-items: center;
  margin: 20px 20px 0px 20px;
  border-radius: 7px;
  box-shadow: 2px 1px 35px -6px rgba(0, 0, 0, 0.75);
}

#content-section .page-posting .posting-number {
  font-size: 32px;
  color: #8e8e8e;
  margin: 20px;
  width: 40px;
}

#content-section .page-posting .votes {
  display: flex;
  flex-direction: column;
  font-size: 44px;
  margin: 20px;
  align-items: center;
  width: 50px;
}

#content-section .page-posting .votes img {
  height: 22px;
  width: 22px;
  cursor: pointer;
}

#content-section .page-posting img {
  height: 120px;
  width: 200px;
}

#content-section .page-posting .posting-details {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#content-section .page-posting .posting-details .food-title {
  font-size: 32px;
}

#content-section .load-more button {
  display: flex;
  font-size: 18px;
  padding: 12px 50px;
  border-color: #2595ff;
  background-color: #2595ff;
  color: white;
  line-height: 1.25;
  border: 1px solid transparent;
  border-radius: 4.2px;
  transition: all ease-in-out 0.2s;
  margin-top: 30px;
}
